<div class="container">
  <div class="row">
    <% @islands.each do |island| %>
      <div class="col md-4">
        <%= link_to island_path(island), class:"text-decoration-none picture" do %>
          <div class="island">
            <ul>
              <li><%= island.name %></li>
              <li>£<%= island.price %> per night</li>
              <li><%= island.location %></li>
              <img src="https://images.unsplash.com/photo-1559128010-7c1ad6e1b6a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8aXNsYW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="island" width=200>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
