
<h1>This is one island</h1>
<header class="banner"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url('<%= cl_image_path @island.photos.first.key, crop: :fill %>')">
    <h1> <%= @island.name  %> <h1>
</header>
