 <div class="footer">
      <div class="footer-copyright">
        © Islands 'R' Us, , Inc. All rights reserved
        <%= link_to "Privacy", "#" %>
        <%= link_to "Terms", "#" %>
        <%= link_to "About us", "#" %>
      </div>
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
