 <div class="footer">
      <div class="footer-copyright">
        © Islands 'R' Us, Inc. All rights reserved
        <%= link_to "Privacy", "#", class: "foot-link" %>
        <%= link_to "Terms", "#", class: "foot-link" %>
        <%= link_to "About us", "#", class: "foot-link" %>
      </div>

      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
