<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= image_path "https://res.cloudinary.com/dm6g22zui/image/upload/v1669120244/ese7xnhhrm5y19gchd2x.jpg"%>);">
    <div class="container">
      <h1>Find your perfect island paradise</h1>
      <p>It is time to tropic like its hot</p>
      <p>Search all our islands </p>
      <a class="btn-search" href="/islands">Search Islands</a>
    </div>
  </div>
    <div class="container pt-5">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
          <form action="#" class="row">
            <h2 class="text-center mb-5">Find your perfect island</h2>
            <div class="col-12 mb-3">
              <label for="location" class="form-label">Location</label>
              <input type="text" class="form-control" id="" placeholder="Pacfic Ocean">
            </div>
            <div class="col-6 mb-3">
              <label for="check-in" class="form-label">Check-In</label>
              <input type="text" class="form-control" id="check-in" placeholder="Wed, Nov 23">
            </div>
            <div class="col-6 mb-3">
              <label for="check-out" class="form-label">Check-Out</label>
              <input type="text" class="form-control" id="check-out" placeholder="Sat, Dec 3">
            </div>
            <div class="col-6 mb-3">
              <label for="adults" class="form-label">Adults</label>
              <select id="adults" class="form-select">
                <option value>1</option>
                <option value>2</option>
                <option value>3</option>
                <option value>4</option>
                <option value>5</option>
                <option value>6</option>
                <option value>7</option>
                <option value>8</option>
              </select>
            </div>
            <div class="col-6 mb-3">
              <label for="children" class="form-label">Children</label>
              <select id="children" class="form-select">
                <option value>1</option>
                <option value>2</option>
                <option value>3</option>
                <option value>4</option>
                <option value>5</option>
                <option value>6</option>
                <option value>7</option>
                <option value>8</option>
              </select>
            </div>
            <div class="col-12">
              <input type="submit" value="Search" class="btn btn-primary btn-lg w-100">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
