<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= image_path "https://res.cloudinary.com/dm6g22zui/image/upload/v1669120244/eyc9tqyxuet2v9uqwj03.jpg"%>);">
  <div class="container">
    <h1>Find your perfect island paradise</h1>
    <br>
    <p>Exclusive selection of private islands for rent</p>
    <p>It is time to tropic like its hot</p>
    <br>
    <br>
    <br>
    <a class="btn-search-home" href="/islands">Search Islands</a>
  </div>
</div>
