<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= image_path "https://i.pinimg.com/originals/5c/c1/5e/5cc15ec2f3e323c17d5b230547ddcb12.jpg"%>);">
  <div class="container">
    <h1>Home Assistant</h1>
    <p></p>
    <p></p>
    <p>organized minimalism</p>
    <p></p>
    <p></p>
    <a class="btn-search-home" href="/islands">Start</a>
  </div>
</div>
<%# need container here and add Louis cards %>

<%# <div class="container">
    <div class="container pt-5">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
          <form action="#" class="row">
            <h2 class="text-center mb-5">Find your perfect island</h2>
            <div class="col-12 mb-3">
              <label for="location" class="form-label">Location</label>
              <input type="text" class="form-control" id="" placeholder="Pacfic Ocean">
            </div>
            <div class="col-6 mb-3">
              <label for="check-in" class="form-label">Check-In</label>
              <input type="text" class="form-control" id="check-in" placeholder="Wed, Nov 23">
            </div>
            <div class="col-6 mb-3">
              <label for="check-out" class="form-label">Check-Out</label>
              <input type="text" class="form-control" id="check-out" placeholder="Sat, Dec 3">
            </div>
            <div class="col-6 mb-3">
              <label for="adults" class="form-label">Adults</label>
              <select id="adults" class="form-select">
                <option value>1</option>
                <option value>2</option>
                <option value>3</option>
                <option value>4</option>
                <option value>5</option>
                <option value>6</option>
                <option value>7</option>
                <option value>8</option>
              </select>
            </div>
            <div class="col-6 mb-3">
              <label for="children" class="form-label">Children</label>
              <select id="children" class="form-select">
                <option value>1</option>
                <option value>2</option>
                <option value>3</option>
                <option value>4</option>
                <option value>5</option>
                <option value>6</option>
                <option value>7</option>
                <option value>8</option>
              </select>
            </div>
            <div class="col-12">
              <input type="submit" value="Search" class="btn btn-primary btn-lg w-100">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> %>
