.btn-search {
  background-color: #02C39A;
  border-radius: 5px;
  color: white;
  padding: 12px;
  text-decoration: none;
  box-shadow: 2px 2px lightgray 2px;
  transition: 0.25s;
  margin-left: 10px;
}

.btn-search-home {
  background-color: #02C39A;
  border-radius: 5px;
  color: white;
  padding: 12px;
  text-decoration: none;
  box-shadow: 2px 2px lightgray 2px;
  transition: 0.25s;
}

.btn-search:hover {
  background-color: #00A896;
  color: white;
  transition: 0.75s;
}

.btn-search-home:hover {
  background-color: #00A896;
  color: white;
  transition: 0.75s;
}

.btn-book {
  background-color: rgb(2, 128, 144);
  border-radius: 5px;
  color: white;
  padding: 12px;
  text-decoration: none;
  box-shadow: 2px 2px lightgray 2px;
  transition: 0.25s;
}

.btn-book:hover {
  background-color: #05668D;
  color: white;
  transition: 0.75s;
}

#btn-delete {
  background-color: #E64848;
}

#btn-delete:hover {
  background-color: #C21010;
}

.link-to-text {
  text-decoration: none;
  color: white;
}

.link-to-text:hover {
  text-decoration: none;
  color: white;
}
